*, *::after, *::before {
    box-sizing: border-box;
}
/* Creating Variable to use for Markers and Cells */
:root {
    --cell-size: 250px;
    --mark-size: calc(var(--cell-size) * 0.7); /*Use 90% of Cell*/
}
body {
    margin: 0;
    background-color: rgb(76, 76, 85);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(123, 123, 129);
    height: 150px;
    font-size: 2rem;
}

.gameContainer {
    color: white;
}



.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: rgb(76, 76, 85);
    color: white;
}
.selectType button {
    color: white;
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.select-solo {
    background-color: red;
}

.select-vs {
    background-color: blue;
}
.select-solo:active,
.select-vs:active {
    background-color: rgb(255, 255, 255);
}

.scoreBoard {
    display: flex;
    margin: auto;
    width: 800px;
    justify-content: space-between;
    text-align: center;
    font-size: 64px;
    color: white;
}

/* Tic Tac Toe Gameboard */
.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid white;
    background-color: rgb(32, 32, 32);
    color: white;
    width: 800px;
    height: 800px;
    margin: auto;
}
/* Align, Position, Edit the Contents within the Cells */
.cell {
    position: relative;
    border: 1px solid white;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}







/* Makes Cursor show You Cant Put a Marker There */
.cell.x,
.cell.circle {
    cursor: not-allowed;
}
/* X Marker*/
.cell.x::before,
.cell.x::after,
.gameBoard.x .cell:not(.x):not(.circle):hover::before,
.gameBoard.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .04);
    height: var(--mark-size);
    background-color: rgb(255, 255, 255);
}
/* Making My Own Symbol for X */
.cell.x::before,
.gameBoard.x .cell:hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.gameBoard.x .cell:hover::after  {
    transform: rotate(-45deg);
}
/* Adding an O to the Board */
.cell.circle::before,
.cell.circle::after,
.gameBoard.circle .cell:not(.x):not(.circle):hover::before,
.gameBoard.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}
/* Outside Circle Marker */
.cell.circle::before,
.gameBoard.circle .cell:not(.x):not(.circle):hover:before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: rgb(255, 255, 255);
}
/* Inside Circle Marker */
.cell.circle::after,
.gameBoard.circle .cell:not(.x):not(.circle):hover:after {
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
    background-color: rgb(32, 32, 32);
}
/* Hover Color */
.gameBoard.x .cell:not(.x):not(.circle):hover::before,
.gameBoard.x .cell:not(.x):not(.circle):hover::after,
.gameBoard.circle .cell:not(.x):not(.circle):hover::before {
  background-color: rgb(129, 129, 129);
}







/* Results Overlay */
.winning-results {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.582);
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
button.restartButton {
    background-color: green;
    color: white;
    border: 1px solid transparent;
    width: 100px;
    height: 40px;
    font-size: larger;
}
button.restartButton:active {
    background-color: aliceblue;
}
.winning-results.show {
    display: flex;
}