body {
    background-color: rgb(76, 76, 85);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(123, 123, 129);
}

.gameContainer {
    
}

.selectionMenu {
    height: 200px;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
}

.playerType {
    display: flex;
    background-color: rgb(76, 76, 85);
    border: 1px solid white;
    justify-content: space-between;
}

.scoreBoard {
    text-align: center;
    font-size: 64px;
}

.gameBoard {

}

.gameGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid white;
    text-align: center;
    padding: 10%
}
.gameGrid div {
    border: 1px solid white;
    padding: 30%;
    color: white;
}