* {
    margin: 0;
    text-align: center;
}
body {
    color: rgb(0, 0, 0);
    position: relative;
    min-height: 100vh;
    background-color: rgba(61, 91, 101, 0.845);
}
header {

}
.modal-container {
    background-color: rgba(81, 114, 184, 0.149);
    padding: 1rem;
    border: 5px solid black;
    animation-name: spin;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    z-index: 2;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.modal {
    display: grid;
    background-color: transparent;
    gap: 5px;
    margin: 0;
    position: absolute;
}
h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.modal .flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
}
.modal input {
    display: grid;
    padding: 0.7rem 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1em;
}
.modal .read {
    font-size: 2em;
    font-weight: bolder;
    color: white;
}

.read {
    display: flex;
    justify-content: center;
    gap: 50px;
}
input[type=checkbox] {
    transform: scale(2.8);
}
input[type=checkbox]:checked {
    transform: scale(3);
}
input.input {
    font-size: 24px;
}
form {
    display: grid;
    gap: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 10%;
    
}
.submitBtn {
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.807);
    color: aliceblue;
    border-radius: 5px;
}

.btn-open {
    position: absolute;
    bottom: 150px;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.807);
    color: aliceblue;
    border-radius: 5px;
    font-size: 1em;
}

.btn-close {
    width: 20%;
    padding: 0.5rem 0.7rem;
    background-color: rgba(0, 0, 0, 0.358);
    color: white;
    font-size: larger;
    border-radius: 0%;
    margin-left: 85%;
    margin-top: -6%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
}
.hidden {
    display: none;
  }
  
.addBook {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
/* the Book Cards (Library) */

#library {
    display: flex;
    width: fit-content;
    max-width: 90%;
    flex-wrap: wrap;
    color: black;
    font-size: 2rem;
    text-align: center;
    gap: 5%;
    padding: 5%;
}



.card-title {
    color: black;
    background-color: beige;
    padding: 5%;
}

.card-body {
    color: black;
    background: white;
    padding: 5%
}