* {
    margin: 0;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
}
body {
    color: rgb(134, 49, 238);
    height: 100%;
    background-color: rgb(17, 20, 21);
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    background-color: rgb(15, 3, 25);
    font-size: 32px;
    align-items: center;
    justify-content: space-between;
    max-height: 200px;
    border-right: 1px solid white;
    border-left: 1px solid white;

}

/*************** Modal ****************/

.modal-container {
    position: absolute;
    width: fit-content;
    background-color: rgba(247, 100, 255, 0.149);
    padding: 1rem;
    border: 5px solid black;
    
    animation-name: spin;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    z-index: 2;
}
/*************** Modal Animation ****************/
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.modal {
    background-color: transparent;
    gap: 5px;
    display: flex;
    justify-content: center;
    
}
h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.modal input {
    display: grid;
    padding: 0.7rem 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1em;
}

/*************** Modal Checkbox****************/

.read {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    gap: 20px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
input[type=checkbox] {
    cursor: pointer;
    height: fit-content;
    transform: scale(2.8);
}
input[type=checkbox]:checked {
    transform: scale(3);
}
input.input {
    font-size: 45px;
}
form {
    display: grid;
    gap: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 10%;
    
}
button:active {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 10%;
    background-color: rgba(140, 0, 255, 0.807);
    color: black;
    
}
.submitBtn {
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.807);
    color: aliceblue;
    border-radius: 5px;
}
.submitBtn:active {
    background-color: rgba(71, 17, 171, 0.807);
    color: rgb(0, 0, 0);
}

.btn-open {
    border: 1px solid rgb(149, 103, 206);
    box-shadow: 0px 0px 12px rgb(134, 49, 238);
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: rgba(30, 9, 50, 0.701);
    color: aliceblue;
    border-radius: 5px;
    font-size: 1.5em;
}

.btn-close {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.358);
    color: white;
    font-size: larger;
    border-radius: 10px;
    margin-left: 85%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 9, 50, 0.701);
    backdrop-filter: blur(4px);
    z-index: 1;
}
/* Hides Modal until +Book button is Pressed*/
.hidden {
    display: none;
  }
  
.addBook {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
/* the Book Cards (Library) */
#library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2.9rem;
    border-left: 1px solid rgb(55, 0, 128);
    border-right: 1px solid rgb(55, 0, 128);
    gap: 30px;
}
h3 {
    font-size: 5rem;
}
.card {
    border: 2px solid rgb(134, 49, 238);
    border-radius: 10px;
    padding: 45px;
}

.card-title {
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 0px;
    font-size: 2.8rem;
}

.card-body {
    color: rgb(255, 253, 253);
    background: transparent;
    padding: 0%;
    font-size: 1.7rem;
}
.remove-btn, 
.toggle-read-btn {
    font-size: 1.5rem;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 18px;
    max-height: 100px;
}