#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.icon {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
.nameAndLogo {
  display: flex;
  min-width: 500px;
  justify-content: center;
  align-items: center;
}
.cv-info {
  color: rgb(255, 255, 255);
}

.cv-info li {
  list-style: none;
}
.school-container {
  display: flex;
  justify-content: center;
  color: rgb(255, 251, 251);
  background-color: rgba(255, 255, 255, 0.034);
}
.school,
.school2,
.school3 {
  padding: 25px;
}
.summary {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.034);
  padding: 2%;
}
.experiences-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.034);
  padding: 2rem;
}
.skills-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: rgb(42, 68, 91);
}
.skills-container ul {
  text-align: start;
}
.experiences-container h3,
.jobs-container h3 {
  font-size: larger;
  margin-bottom: 5rem;
}
.jobs-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: rgb(42, 68, 91);
}
