.container {
    display: grid;
    background-color: rgb(196, 193, 190);
}

.sidebar {
    display: grid;
    background-color: rgb(138, 138, 216);
}
.spacer {
    height: 50px;
}

.header {
    display: grid;
}
.cards {
    display: flex;
}

.projects {
    display: flex;

}

.announcements {
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

}