body {
    display: grid;
    grid-template: 4fr / 1fr;
    background-color: rgb(196, 193, 190);
}

.sidebar {
    background-color: rgb(109, 175, 230);
}

.header {
    display: grid;
}

.content {
    display: grid;
}