.about {
    display: grid;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
}
.about img{
    display: flex;
    height: 300px;
}