.menu {
    text-align: center;
    padding: 50px;
}
h1 {
    padding: 40px;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.foodImg {
    display: flex;
    height: 100px;
    justify-content: center;
}
menu.li {
    font-size: 24px;
}
.rightMenu {
    background-color: rgba(0, 255, 255, 0.164);
}
.leftMenu {
    background-color: rgba(255, 0, 0, 0.199);
}