* {
   background-color: antiquewhite; 
}
html, body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}
.header {
    text-align: center;
    margin-top: 2%;
    padding: 20px;
    border: 2px solid black;
    background-color: bisque;
    font-size: 48px;
}
.about {
    display: grid;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
}
.about img{
    display: flex;
    height: 300px;
}
.menu {
    text-align: center;
    padding: 50px;
}
h1 {
    padding: 40px;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.foodImg {
    display: flex;
    height: 100px;
    justify-content: center;
}
menu.li {
    font-size: 24px;
}
.rightMenu {
    background-color: rgba(0, 255, 255, 0.164);
}
.leftMenu {
    background-color: rgba(255, 0, 0, 0.199);
}